body{
 margin:0;min-height:100vh;
 display:flex;justify-content:center;align-items:center;
 font-family:Segoe UI;
 background:url("bg.jpg") no-repeat center/cover fixed;
}

.brand{
 position:fixed;top:20px;right:20px;
 color:white;text-align:center;
}
.brand img{width:100px}

.card{
 background:rgba(255,255,255,.95);
 backdrop-filter:blur(8px);
 width:380px;padding:30px;border-radius:18px;
 box-shadow:0 12px 30px rgba(0,0,0,.4);
 margin-top:140px;text-align:center;
}
.wide{max-width:800px}

input,textarea,select{
 width:100%;padding:12px;margin:10px 0;
 border-radius:8px;border:1px solid #ccc;
}

button{
 width:100%;padding:12px;
 background:#0d6efd;border:none;border-radius:8px;
 color:white;font-weight:bold;cursor:pointer;
}
button:hover{background:#084298}

.box{
 background:white;padding:12px;margin:10px;border-radius:10px;
 box-shadow:0 4px 10px rgba(0,0,0,.2);
}

#loader{
 position:fixed;top:0;left:0;width:100%;height:100%;
 background:rgba(0,0,0,.6);
 display:flex;justify-content:center;align-items:center;
 z-index:10000;pointer-events:none;
}
.spinner{
 width:60px;height:60px;border:8px solid white;
 border-top:8px solid #0d6efd;border-radius:50%;
 animation:spin 1s linear infinite;
}
@keyframes spin{100%{transform:rotate(360deg)}}
