body{
  font-family:Arial;
  background:#f4f4f4;
  text-align:center;
}

input,textarea{
  width:300px;
  padding:10px;
  margin:10px;
}

button{
  background:#007bff;
  color:white;
  border:none;
  padding:10px 20px;
  cursor:pointer;
}

.box{
  background:white;
  padding:10px;
  margin:10px auto;
  width:300px;
}
