body{font-family:Arial;text-align:center;background:#f4f4f4}
input,textarea{width:300px;padding:10px;margin:10px}
button{padding:10px 15px;background:#007bff;color:white;border:none;cursor:pointer}
.box{background:white;margin:10px auto;padding:10px;width:300px}

.dark{background:#121212;color:white}
.dark .box{background:#1e1e1e}

@media(max-width:600px){
 input,textarea,button{width:90%}
 .box{width:95%}
}
#chart{
 max-width:120px;
 max-height:120px;
}
